@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:wght@200&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.container {
  width: 100%;
  /* min-height: 100vh; */
  padding: 20px 0;
  max-width: 1000px;
  margin-left: 10%;
  margin-right: 10%;
}

.app-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 1000px;
}

.autosave {
  font-size: 20px;
  letter-spacing: 1px;
  border: 1px solid #42bfc7;
  border-radius: 0.3em;
  padding: 45px 25px 25px 25px;
  margin-bottom: 40px;
}

.header h4 {
  color: #1d9988;
}

#autosave-heading {
  color: blue;
  margin-left: 10%;
  font-weight: 200;
}

.result {
  font-size: 20px;
  right: 50px;
  margin-left: auto;
  margin-right: 10px;
  color: #555555;
}

.summary {
  /* display: inline; */
  background-color: #0146f5;
  /* border: 1px solid #e1e1e1; */
  /* box-shadow: 1px 1px 1px white inset; */
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.summary-result {
  display: inline;
  font-size: 20px;
  color: white;
  padding: 15px;
  margin: auto;
  margin-right: 60%;
}

.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #efefef;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #e1e1e1;
  box-shadow: 1px 1px 1px white inset;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-title {
  font-size: 20px;
  margin-left: 10px;
  letter-spacing: 0.05em;
  color: #555555;
}

.accordion-icon {
  /* margin-left: auto; */
  transition: transform 0s ease;
}

.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  /* max-height: 0px; */
}

.accordion-container {
}

.category {
  /* display: block;
  border-top: 1px dotted;
  padding: 12px; */
  /* float: right; */
  /* margin-left: 10%; */
}

.input-field {
  /* display: inline; */
  /* position: */
}

.period-list {
  /* display: inline; */
  /* position: */
}



.message {
  background-color: white;
  /* border: 1px solid grey; */
}
