body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  margin-left: 10%;
  margin-right: 10%;
}

.app-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.autosave {
  border: 1px solid #42bfc7;
  border-radius: 0.5em;
  padding: 20px 0;
}

.header h4 {
  color: #1d9988;
}

#autosave-heading {
  color: blue;
}

.result {
  margin-left: 80vh;
}

.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #efefef;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion:hover,
.active {
  background-color: #ccc;
}

.accordion-title {
  font-weight: 600;
  font-size: 14px;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0s ease;
}

.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  /* max-height: 0px; */
}

.accordion-container {

}

.category {
  /* display: block;
  border-top: 1px dotted;
  padding: 12px; */
  /* float: right; */
  /* margin-left: 10%; */
}

.input-field {
  /* display: inline; */
  /* position: */
}

.period-list {
  /* display: inline; */
  /* position: */
}

.summary {
  background-color: #0146f5;
  border: 1px solid grey;
}
.summary h1 {
  color: white;
}

.message {
  background-color: white;
  border: 1px solid grey;
}
